<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>ChronoSagesse</title>

        <style>
            body {
                padding: 50px;
            }
        </style>
    </head>
    <body class="">
        <header>
            <div class="">
                <a class="item" href="/"> Home </a>
            </div>
        </header>