<h1><% if (isAdd) { %> Add Category <% } else { %> Edit Category <% } %></h1>
<form <% if (isAdd) { %> action="/categories" <% } else { %> action="/categories/<%- id %>"<% } %>  method="post">
    <input type="text" name="name" placeholder="name" <% if (!isAdd) { %> value="<%- name %>" <% } %> />
    <button type="submit">save</button>
</form>
